[Unit]
Description=dispatcher-worker.service

[Service]
Environment=PYTHONPATH=/root/analytics-integration
ExecStart=/root/analytics-integration/container_pipeline/workers/dispatcher.py
Restart=on-failure
