[Unit]
Description=dispatcher-worker.service

[Service]
Environment=PYTHONPATH=/opt/scanning
ExecStart=/opt/scanning/workers/dispatcher.py
Restart=on-failure
