[Unit]
Description=notify-worker.service

[Service]
Environment=PYTHONPATH=/opt/scanning
ExecStart=/opt/scanning/mail_service/notify_worker.py
Restart=on-failure
