[Unit]
Description=notify-worker.service

[Service]
Environment=PYTHONPATH=/root/scanning
ExecStart=/root/scanning/mail_service/notify_worker.py
Restart=on-failure
