[Unit]
Description=notify-worker.service

[Service]
Environment=PYTHONPATH=/opt/scanning
ExecStart=/opt/scanning/workers/notify.py
Restart=on-failure
