[Unit]
Description=scan-worker.service

[Service]
Environment=PYTHONPATH=/root/analytics-integration
ExecStart=/root/analytics-integration/workers/scan.py
Restart=on-failure
